* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {  
  --gris_opacity: #D9D9D9;
  --black: #000000;
  --white: #FFFFFF;
}
ul {  
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--black);
  }
body{
  display: grid; 
  position: relative;
  font-family: 'Playfair Display', serif;  
  font-weight: 400;
}
/********************************loader animation********************/
.loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);  
  z-index: 3;
  animation: loader 2s linear forwards;  
  }  
  @keyframes loader {
    0%{
      opacity: 1;
      visibility: visible;
    }
    95%{
      opacity: 1;
      visibility: visible;
    }
    100%{
      opacity: 0;
      visibility: hidden;
    }
  }
  .loader div {
    background: var(--gris_opacity);
    width: 30px;
    height:30px;
    border-radius: 50%;
    margin: 10px;
    transform: scale(0);
    animation: scaling 2s ease-in-out infinite;
  }  
  .loader div:nth-child(1) {
    animation-delay: 0.2s;
  }
  .loader div:nth-child(2) {
    animation-delay: 0.3s;
  }
  .loader div:nth-child(3) {
    animation-delay: 0.4s;
  }
  @keyframes scaling {
    0%{
      transform: scale(0.2);
    }
    40%{
      transform: scale(1);
    }
    50%{
      transform: scale(1);
    }
    100%{
      transform: scale(0.2);
    }
  }
/********************************slider animation********************/
.slider-container--inicio {  
  width: 100%;  
  height: auto;
  margin: 0;  
  padding: 0;
  animation: slider-inicio 6s infinite ease-in-out; 
}
.slider-container--inicio .slider-track {
  display: flex;
  width: 400%;
}
.slider-container--inicio li {
  width: 100%; 
  margin: 0 auto;
}
.slider-container--inicio .slider-track li img {
  width: 100vw;  
  max-width: 1000px;
  height: auto;
}
@keyframes slider-inicio {
  0%{margin-left: 0%;}
  45%{margin-left: 0%;} 
  
  55%{margin-left: -200%;}
  95%{margin-left: -200%;}   
}
/*******************slider animation productos**********************/
.slider-container--productos {  
  width: 100%;  
  height: auto;
  margin: 0;  
  padding: 0;
  animation: slider-productos 24s infinite ease-in-out; 
}
.slider-container--productos .slider-track {
  display: flex;
  width: 600%;
}
.slider-container--productos li {  
  width: 100%; 
  margin: 0 auto;
}
.slider-container--productos .slider-track img {
  width: 100%;  
  height: 100%;
}
@keyframes slider-productos {
  0%{margin-left: 0%;}
  10%{margin-left: 0%;}

  17%{margin-left: -100%;}
  27%{margin-left: -100%;}

  34%{margin-left: -200%;}
  44%{margin-left: -200%;}

  51%{margin-left: -300%;}
  61%{margin-left: -300%;}

  68%{margin-left: -400%;}
  78%{margin-left: -400%;}

  85%{margin-left: -500%;}
  95%{margin-left: -500%;}
}
/***********************************PAGINA INICIO - VISTA MOBILE******************************/
/**********************************header****************************/
.header_container {
  display: flex;
  position: fixed;
  width: 100%;   
  height: 100px;
  background-color: var(--white);
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 0.5px solid var(--gris_opacity);
  z-index: 1;  
}
.header_container #check {
  display: none;
}
.header_container ul{
  position: fixed;
  width: 80%;
  height: 100vh;
  background: var(--white);
  top: 101px;
  left: -100%;
  text-align: left;
  transition: all 0.5s;
}
.header--lista-navegacion ul li {
  display: block;
  margin: 50px 20px;  
}
.header_container li a:hover, li a.active {
  background: none;
  color: var(--gris_opacity);
}
#check:checked ~ .header--lista-navegacion ul {
  left: 0;
}
.header--menu { 
  width: 30px;
  height: 30px;
  justify-content: right;
  margin-right: 40px;
}
.header--logo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: calc(50% - 50px);
}
.header--lista-navegacion .header--productos .producto--lista-navegacion {
  display: none;
}
.header--lupa {
  width: 30px;
  height: 30px; 
  margin-left: 40px;
}
/***********************************main contain container******************************/
.contain_container {
  display: flex;
  top: 100px;
  z-index: 0;
  flex-direction: column;
  width: 100%;
  height: max-content;
  background-color: var(--white);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.redes_container {
  position: fixed;
  top: 25%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: max-content;
  height: max-content;
  margin-right: 10px;  
  z-index: 1;
}
.redes_container a img {
  width: 28px;
  height: 28px; 
}
.redes_container a:hover {
  margin-right: 20px;
}
.titulo {
  font-size: 30px;  
  text-align: left;
  font-family: 'Playfair Display', serif;  
}
.parrafo {
  font-size: 20px;
  margin: 30px auto;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
/*********************************section inicio background*****************************/
.inicio_background {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: max-content;
  margin-top: 100px;  
} 
.inicio_background img {  
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: center;
  align-self: center;
}
.slider-container {
  display: flex;
  width: 100%;
  max-width: 960px; 
  margin: 0 auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.slider-container img {
  flex: flex;
  width: 100%;
  justify-content: center;
  scroll-snap-align: center;  
}
/*********************************section inicio productos***************************/
.contain_container .inicio_productos {
  padding: 0;  
}
.inicio_productos button {
  width: 80%;
  padding: 10px 20px;  
  font-size: 14px;
  margin: 60px auto;
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid transparent;
}
.inicio_productos button:hover {  
  border: 1px solid var(--gris_opacity);
  color: var(--gris_opacity);
 } 
 .inicio_productos button a:hover {
  color: var(--gris_opacity);
 }
.inicio_productos img { 
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-self: center;
}
/*********************************section inicio descripcion*****************************/
.inicio_descripcion {
  margin-top: 60px;
}
/*********************************section inicio diferencia*****************************/
.inicio_diferencia {
  margin-top: 60px;
}
.inicio_diferencia p:nth-child(2){
  margin: 30px auto;
}
.texto-final-parrafo {
  text-align: center;
  font-weight: 600;
}
/***********************************footer******************************/
.footer_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  background-color: var(--gris_opacity);
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.footer_container img {
  width: 200px;
}
.footer--lista-navegacion li {
  margin: 20px 0;
  text-align: left;
}
.footer--lista-navegacion li a:hover {
  color: var(--white);
}
/***********************************VISTA ESCRITORIO******************************/
@media (min-width: 1024px) {
  .redes_container a img {
    width: 48px;
    height: 48px;    
  }
/***********************************header******************************/
 .header_container {
    display: flex;    
    justify-self: center;
    font-size: 20px;    
    max-width: 1000px;     
  }
  .header_container input, .header_container label {
    display: none;
  }
  .header--menu {
    display: none;
  }
  .header--logo {
    position: static;
    justify-content: left;
  }
  .header--lista-navegacion .header--productos:hover > .producto--lista-navegacion {
    display: flex; 
    position: absolute;
    top: 100px;
    left: 260px;
    width: 200px;
    height: 60px;
    background: black;
    border-radius: 10px;
    justify-content: center; 
   }
   .header--lista-navegacion .header--productos .producto--lista-navegacion a {
     color: white;
   }
  .header--lupa {
    margin: 35px;
  }
  .header--lista-navegacion {    
    display: flex;        
    width: max-content; 
    margin: 0 30px;
  }
  .header--lista-navegacion ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    height: 100%;
  }  
  .header--lista-navegacion ul li {
    display: flex;
    margin: 0 20px;
    width: max-content;
    height: 80px;
    align-items: center;       
  }
  .header--lista-navegacion ul li a {
    height: max-content;
    width: max-content;
    justify-content: center;
    align-items: center;
  }
  /****************************section productos*********************/
  .inicio_productos button {
    font-size: 30px    
  }
  /****************************section descripcion*********************/
  .section .titulo {
    font-size: 50px;
  }
  .section .parrafo {
    font-size: 30px;
  }  
  .texto-final-parrafo {
    margin: 100px auto;
  }
  .footer_container {
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    contain: 1000px;
  }
}
/***********************************PAGINA PRODUCTOS - VISTA MOBILE******************************/


/****************************PAGINA - CONOCENOS VISTA MOBILE************************/
/********************************CONTAINER*********************/
.conocenos-container{
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: max-content;
}
.conocenos-container h2 {
  font-size: 30px;
}
.conocenos-container p {
  font-size: 18px;
}
.flecha-atras {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 44px;
  height: 44px;
  font-size: 8px;
}
.flecha-atras img{
  width: 34px;
  height: 24px;
}
.section{
  max-width: 1000px;
  overflow: hidden;
  padding: 0 20px;
}
/****************************section bienvenida*********************/
.bienvenida {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: auto;  
}
.bienvenida h1 {
  font-size: 30px;
}
/****************************section nosotros*********************/
.nosotros {
  width: 100vw;
  height: 100vh;  
  align-content: center;
}
.nosotros h2 {
  margin-bottom: 20px;
}
.nosotros p {
  margin-bottom: 20px;
}
/****************************section botones info*********************/
.botones-info {
  display: flex;
  flex-direction: column;
  background-color: var(--gris_opacity);
  height: 50vh;
}
.botones-info h2{
  margin-bottom: 20px;
}
.botones-container {
  display: flex;
  flex-direction: column;
}
.botones-container button {
  width: 120px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  align-self: center;
}
/****************************section legado*********************/
.legado h2 {
  margin-bottom: 30px;
}
.contain--legado {
  display: flex; 
  flex-direction: column; 
}