* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {  
  --gris_opacity: #D9D9D9;
}
ul {  
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
body{
  display: grid;  
}
/***********************************HEADER VISTA MOBILE******************************/
.header_container {
  display: flex;
  position: fixed;
  width: 100%;   
  height: 100px;
  background-color: white;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 0.5px solid var(--gris_opacity);
  z-index: 1;  
}
.header_container #check {
  display: none;
}
.header_container ul{
  position: fixed;
  width: 80%;
  height: 100vh;
  background: white;
  top: 101px;
  left: -100%;
  text-align: left;
  transition: all 0.5s;
}
.header--lista-navegacion ul li {
  display: block;
  margin: 50px 20px;  
}
.header_container li a:hover, li a.active {
  background: none;
  color: var(--gris_opacity);
}
#check:checked ~ .header--lista-navegacion ul {
  left: 0;
}
.header--menu { 
  width: 30px;
  height: 30px;
  justify-content: right;
  margin-right: 40px;
}
.header--logo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: calc(50% - 50px);
}
.header--lupa {
  width: 30px;
  height: 30px; 
  margin-left: 40px;
}
/***********************************CONTAIN CONTAINER******************************/
.contain_container {
  display: flex;
  top: 100px;
  z-index: 0;
  flex-direction: column;
  width: 100%;
  height: max-content;
  background-color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.redes_container {
  position: fixed;
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: max-content;
  height: max-content;
  margin-right: 10px;  
}
.redes_container a img {
  width: 28px;
  height: 28px; 
}
.titulo {
  font-size: 30px;  
  text-align: left;
  font-family: 'Playfair Display', serif;  
}
.parrafo {
  font-size: 20px;
  margin: 30px auto;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
/*********************************inicio background*****************************/
.inicio_background {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: max-content;
  margin-top: 100px;  
} 
.inicio_background img {  
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: center;
  align-self: center;
}
.slider-container {
  display: flex;
  width: 100%;
  max-width: 1000px; 
  margin: 0 auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.slider-container img {
  flex: flex;
  width: 100%;
  justify-content: center;
  scroll-snap-align: center;
  
}
/*********************************inicio productos***************************/
.inicio_productos p {
  font-size: 30px;
  margin: 30px auto;
}
.inicio_productos img { 
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-self: center;
}
/*********************************inicio descripcion*****************************/
.inicio_diferencia p:nth-child(2){
  margin: 30px auto;
}
/*********************************inicio diferencia*****************************/
.texto-final-parrafo {
  text-align: center;
  font-weight: 600;
}
/***********************************FOOTER******************************/
.footer_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  background-color: var(--gris_opacity);
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.footer_container img {
  width: 200px;
}
.footer--lista-navegacion li {
  margin: 20px 0;
  text-align: left;
}
.footer--lista-navegacion li a:hover {
  color: white;
}
/***********************************VISTA ESCRITORIO******************************/
@media (min-width: 1024px) {
  .redes_container a img {
    width: 48px;
    height: 48px;    
  }
/***********************************HEADER VISTA ESCRITORIO******************************/
 .header_container {
    display: flex;
    padding: 0 40px;  
    justify-self: center;
    font-size: 20px;    
    max-width: 1000px;     
  }
  .header_container input, .header_container label {
    display: none;
  }
  .header--menu {
    display: none;
  }
  .header--logo {
    position: static;
    justify-content: left;
    margin: 0 30px;
  }
  .header--lupa {
    margin: 0 30px;
  }
  .header--lista-navegacion {    
    display: flex;        
    width: max-content; 
    margin: 0 30px;
  }
  .header--lista-navegacion ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    height: 100px;
  }  
  .header--lista-navegacion ul li {
    display: flex;
    margin: 0 20px;
    width: max-content;
    height: 80px;
    align-items: center;       
  }
  .header--lista-navegacion ul li a {
    height: max-content;
    width: max-content;
    justify-content: center;
    align-items: center;
  }
  /****************************section productos*********************/
  .inicio_productos p {
    font-size: 50px;
    margin: 30px auto;
  }
  /****************************section descripcion*********************/
  .section .titulo {
    font-size: 50px;
  }
  .section .parrafo {
    font-size: 30px;
  }  
  .texto-final-parrafo {
    margin: 100px auto;
  }
  .footer_container {
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    contain: 1000px;
  }
}
/****************************CONOCENOS CONTAINER*********************/
.conocenos-container{
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: max-content;
}
.conocenos-container h2 {
  font-size: 30px;
}
.conocenos-container p {
  font-size: 18px;
}
.flecha-atras {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 44px;
  height: 44px;
  font-size: 8px;
}
.flecha-atras img{
  width: 34px;
  height: 24px;
}
.section{
  padding: 20px;
  max-width: 1000px;
}
/****************************section bienvenida*********************/
.bienvenida {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: auto;  
}
.bienvenida h1 {
  font-size: 30px;
}
/****************************section nosotros*********************/
.nosotros {
  width: 100vw;
  height: 100vh;  
  align-content: center;
}
.nosotros h2 {
  margin-bottom: 20px;
}
.nosotros p {
  margin-bottom: 20px;
}
/****************************section botones info*********************/
.botones-info {
  display: flex;
  flex-direction: column;
  background-color: var(--gris_opacity);
  height: 50vh;
}
.botones-info h2{
  margin-bottom: 20px;
}
.botones-container {
  display: flex;
  flex-direction: column;
}
.botones-container button {
  width: 120px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  align-self: center;
}
/****************************section legado*********************/
.legado h2 {
  margin-bottom: 30px;
}
.contain--legado {
  display: flex; 
  flex-direction: column; 
}